<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Meu blog em NodeJS</title>

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
		/>
		<meta
			name="description"
			content="Meu próprio blog desenvolvido por mim mesmo."
		/>
		<meta name="author" content="Vinícius Trindade" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="robots" content="index,follow" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="canonical" href="https://viniciustrindade-blog.herokuapp.com" />

		<meta property="og:title" content="Meu blog" />
		<meta property="og:site_name" content="Meu blog" />
		<meta
			property="og:description"
			content="Meu próprio blog desenvolvido por mim mesmo."
		/>
		<meta
			property="og:url"
			content="https://viniciustrindade-blog.herokuapp.com"
		/>

		<link rel="stylesheet" href="./styles/style.css" />
	</head>
	<body>
		<h2>Home</h2>

		<script
			src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous"
		></script>
		<script src="./scripts/fontawesome.js"></script>
		<script src="./scripts/main.js"></script>
	</body>
</html>
